[submodule "microcontroller/lib"]
	path = microcontroller/lib
	url = git@github.com:PalouseRobosub/SUBLIBinal.git
[submodule "ROSIntegration/src/dqn_ros"]
	path = ROSIntegration/src/dqn_ros
	url = https://github.com/IRLL/dqn_ros.git
