<?xml version="1.0"?>
<launch>
	<node name="MotorController" pkg="inverted_pendulum" type="MotorSerial.py" required="true"/>
	<node name="SensorConverter" pkg="inverted_pendulum" type="Sensors.py" required="true"/>
	<node name="RawSensors" pkg="rosserial_python" type="serial_node.py" args="/dev/sensor_arduino" required="true"/>

	<!-- settings file -->
	<rosparam command="load" file="$(find inverted_pendulum)/param/real_settings.yaml" />

</launch>
