<?xml version="1.0"?>
<launch>
	<node name="simulator" pkg="inverted_pendulum" type="simulator.py" required="true" output="screen"/>
	<node name="visuals" pkg="inverted_pendulum" type="visuals.py" required="false"/>

	<!-- settings file -->
	<rosparam command="load" file="$(find inverted_pendulum)/param/sim_settings.yaml" />

</launch>
